@model EduShop_Unsecure.Models.ProductModel

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <a href="@Url.Action("ProductInfo","Home", new {Model.Id})">
            <img src="@Url.Content(Model.ImgUrl)" alt="" />
        </a>
        
        <div class="caption">
            <h3>@Model.Name</h3>
            <p style="min-height: 40px;">@Model.ShortDescription</p>
            <p>
                <div class="btn-group btn-group-justified btn-group-lg">
                    <a href="#" class="btn btn-primary btn-lg" role="button">@Model.Price <span class="glyphicon glyphicon-shopping-cart"></span></a>
                    <a href="@Url.Action("ProductInfo","Home", new {Model.Id})" class=" btn btn-default btn-lg" role="button">Info</a>
                </div>
            </p>
        </div>
    </div>
</div>
