@model EduShop_Unsecure.Models.ProductModel
@{
    var authenticated = Request.Cookies["Auth"];
}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <a href="@Url.Action("ProductInfo","Home", new {Model.Id})">
            <img src="@Url.Content(Model.ImgUrl)" alt="" />
        </a>
        
        <div class="caption">
            <div style="min-height: 100px;">
                <h3>@Model.Name</h3>
                <p >@Model.ShortDescription</p>
            </div>
            <p>
                <div class="btn-group btn-group-justified btn-group-lg">
                    @if (authenticated != null)
                    {
                        <a href=@Url.Action("BuyProductSmall","Home", new {id =  Model.Id}) class="btn btn-primary btn-lg" role="button">@Model.Price <span class="glyphicon glyphicon-shopping-cart"></span></a>
                    }
                    <a href="@Url.Action("ProductInfo","Home", new {Model.Id})" class=" btn btn-default btn-lg" role="button">Info</a>
                </div>
            </p>

        </div>
    </div>
</div>
