@using EduShop_Unsecure.Models
@model EduShop_Unsecure.Models.OrderModel
<link href="~/Content/ShoppingCart.css" rel="stylesheet" />
<link href="~/Content/Forms.css" rel="stylesheet" />


<article class="contentcontainer">
    <section>
        <div class="col-md-6">
            <section class="receipt">
                @if (HttpContext.Current.Session["Order"] != null)
                {
                    <header class="shoppingCartHeader">
                        <div class="col-md-5 cartwidth">
                            Products
                        </div>
                        <div class="col-md-3 cartwidth">
                        </div>
                        <div class="col-md-3 cartwidth">
                            Price
                        </div>
                        <div class="col-md-1 cartwidth"></div>
                   
                        <div class="pusher"></div>
                    </header>
                    int total;
                    foreach (var item in Session["Order"] as List<OrderRowModel>)
                    {
                        @*<p>@item.ProductId</p>*@
                        @Html.Action("ShoppingCartItemPartial", "ManageAccount", new { id = item.ProductId, quantity = item.Quantity})
                    }

                    <div class="shoppingCartSum">
                            <div class="col-md-8 cartwidth">
                                Total:
                            </div>
                            <div class="col-md-3 cartwidth">
                                @ViewBag.TotalPrice €
                            </div>
                        </div>
                }
                else
                {
                    <header class="shoppingCartHeader">Your shoppingcart is empty.</header>
                }
                <div class="pusher"></div>
            </section>
            <br />
            @using (Html.BeginForm())
            {
                @Html.LabelFor(m => Model.Firstname, "Firstname:")
                @Html.TextBoxFor(m => Model.Firstname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Firstname)
                <br />
                @Html.LabelFor(m => Model.Lastname, "Lastname:")
                @Html.TextBoxFor(m => Model.Lastname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Lastname)
                <br />
                @Html.LabelFor(m => Model.Address, "Address:")
                @Html.TextBoxFor(m => Model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address)
                <br />
                @Html.LabelFor(m => Model.City, "City:")
                @Html.TextBoxFor(m => Model.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.City)
                <br />
                @Html.LabelFor(m => Model.Zip, "Zip:")
                @Html.TextBoxFor(m => Model.Zip, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Zip)
                <br />
                @Html.LabelFor(m => Model.Phone, "Phone:")
                @Html.TextBoxFor(m => Model.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone)
                <br />
                @Html.HiddenFor(m=> Model.UserId)

                <input type="submit" class="btn btn-primary" value="Order" />
            }
        </div>
        <div class="col-md-6">
            <section class="row">

                <div class="circle">
                    <div class="circletext">
                        <p>Please make sure that all information is correct before you order</p>
                    </div>
                </div>

                <div class="circle">
                    <div class="circletext">
                        <p>We will never ask you for your password. Do not share it with anyone!</p>
                    </div>
                </div>


                <div class="circle">
                    <div class="circletext">
                        <p>If you like our service, please tell your family & friends about us!</p>
                    </div>
                </div>

            </section>
        </div>
        <div style="clear:both;"></div>
    </section>
</article>
